<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            ul {
                text-align: center;
                list-style-type: none;
            }
        </style>
        <meta charset="UTF-8" />
        <title>Kumpulan Sanomat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>



        </br>
        </br>
        </br>
        <h1>Lisää kategoria</h1>
        
        </br>
        </br>
        <li th:each="error: ${errors}"
            <li><a span style="color:red" th:text="${error}"></a></li>
        </br>
        </li>
        </br>
        </br>
        



        <form th:action="@{/addCategory}" method="POST">               
            <label>Lisää uusi kategoria</label></br>
            <input type="text" name="nimi" id="nimi"/>
            </br>
            </br>
            <input type="submit" value="Lisää kategoria"/>
        </form>
        
                </br>
        </br>
        </br>