<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            ul {
                text-align: center;
                list-style-type: none;
            }
        </style>
        <meta charset="UTF-8" />
        <title>Kumpulan Sanomat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>



        </br>
        </br>
        </br>
        <h1>Lisää uutinen</h1>
        
        <li th:each="error: ${errors}"
            <li><a span style="color:red" th:text="${error}"></a></li>
        </br>
        </li>
        </br>
        <form th:action="@{/addNews}" method="POST" enctype="multipart/form-data" id="addNews"> 
            <label>Otsikko</label></br>
            <input type="text" name="otsikko" id="otsikko"/><br/>
            <label>Ingressi</br>
                <input type="text" name="ingressi" id="ingressi"/><br/>
                <label>Teksti</label></br>
                <textarea name="teksti" id="teksti"></textarea></br>
                <label>Kuva</label></br>
                <input type="file" name="img" id="img"/></br>                
                <label>Kirjoittajat</label><br/>
                <select name="kirjoittajat" form="addNews" multiple="true">
                    <option th:each="kirjoittaja:${kirjoittajat}" th:value="${kirjoittaja.id}" th:text="${kirjoittaja.nimi}" selected="selected">name</option>
                </select><br/>
                <label>Kategoria</label><br/>
                <select name="kategoriat" form="addNews" multiple="true">
                    <option th:each="kategoria:${kategoriat}" th:value="${kategoria.id}" th:text="${kategoria.nimi}" selected="selected">name</option>
                </select></br>        
                <input type="submit" value="Lisää uutinen!"/>
                </br>
                </br>
                </br>
        </form>

        
        </br>
        </br>
        </br>
        </br>
    </body>
</html>